<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <h2>Employee</h2>
    <div class="d-flex">
      <!-- <button class="btn btn-success">Add Employee</button> -->
      <img
      src="../assets/employee.png"
      alt=""
      class="image"
    />
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a [routerLink]="['/','add-form']" class="nav-link align-middle px-0">
                <i class="bi bi-person-add"></i>
              <span class="ms-1 d-none d-sm-inline text-white">Create Employee</span>
            </a>
          </li>
          <li>
            <a  [routerLink]="['/','listing']" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline text-white">Employee List</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
